body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #eaeaea;
  font-family: Arial, sans-serif;
}

/* APP MOBILE */
.app {
  width: 100%;
  max-width: 420px;
  min-height: 100vh;
  background: #f2f2f2;
}

/* TOPO */
header {
  background: #008000;
  color: white;
  padding: 15px;
  text-align: center;
}

/* ABAS */
.abas {
  display: flex;
  background: #ffffff;
}

.abas button {
  flex: 1;
  padding: 14px;
  font-size: 15px;
  background: #ffffff;
  color: #008000;
  border: none;
  border-bottom: 3px solid transparent;
}

.abas button.ativa {
  border-bottom: 3px solid #008000;
  font-weight: bold;
}

/* CONTEÚDO */
#jogos {
  padding: 10px;
}

/* CARD DO JOGO */
.jogo {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.4;
}
